div {
    font: "Courier New", monospace, sans-serif;
}

h1 {
    font-size: 28pt;
    color: white;
    background-color: grey;
    text-align: center;
}

h2 {
    color: white;
    font-size: 24pt;
    background-color: grey;
}

p {
    font-size: 16pt;
}

ul, ol {
    font-size: 16pt;
}

ul {
    font-style: italic;
}